
.Header {
  background-color: #003349;
  padding-top: 15px;
  padding-bottom: 45px;
  padding-left: 15px;
}

.Col{
  align-items: center;
  justify-content: center;
}

.App {
  background-color: white;
  display: flex;
  flex-direction: column;
}

/* .App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #3c7aae;
  font-weight: bold;
  margin-bottom: 20px;
}

.App-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Nav-Btn {
  margin-top: 10px;
}

.Esc-Btn {
  margin-top: 10px;
  margin-left: 15px;
}

.Submit {
  margin-left: 15px;
} */
