.App {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Light', sans-serif;
}

.Page {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;
}

.Header {
  background-color: #003349;
  padding-top: 15px;
  padding-bottom: 45px;
  padding-left: 15px;
}

.HomeLink:hover {
  outline: none;
  border-bottom: 7px solid lightgray;
  
}

.HomeLink:focus {
  outline: none;
  border-bottom: 7px solid lightgray;
  
}

.HeadText {
  font-weight: 300;
  line-height: 1.25;
  color: #003349;
}

.SecondHead {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.25;
  color: #003349;
}

.ThirdHead {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  color: #003349;
}

.BodyText {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #1e1e1e;
  font-weight: normal;
}

@media screen and (min-width: 961px) {
  .BodyText {
    font-size:calc(10px + .6vw);
  }
  .HeadText {
    font-size: calc(14px + 2.1vw);
  }
  .SecondHead {
    font-size: calc(12px + 2.1vw);
  }
}

@media screen and (max-width: 960px) {
  .BodyText {
      font-size:calc(12px + 1vw);
  }
  .HeadText {
    font-size: calc(18px + 3.5vw);
  }
  .SecondHead {
    font-size: calc(16px + 3.5vw);
  }
}





