.dqpl-label {
    margin-left: 0!important;
    font-size: 18px;
    font-weight: normal;
    color: #1e1e1e;
    margin-bottom: 4px;
}

.Details {
    border-top: 2px solid #1e1e1e;
    border-bottom: 2px solid #1e1e1e;
    width: 90%;
    margin-right: 3%;
    padding-right: 2%;
}

.Comments {
    width: 92%;
    margin-right: 30%;
    padding-right: 2%;
}

.Content {
    color: #1e1e1e;
    font-weight: normal;
}

.Descriptor {
    color:#003349;
    font-weight: bold;
}

form {
    margin-left: 0;
}

@media screen and (min-width: 961px) {
    .Text {
        font-size:calc(10px + .6vw);
    }
    .CommentInput {
        font-size:calc(10px + .6vw);
    }
    .SaveButton {
        font-size:calc(10px + .6vw);
    }
    .ChangeStatus {
        font-size:calc(8px + .6vw);
    }
  }
  
  @media screen and (max-width: 960px) {
    .Text {
        font-size:calc(11px + 1vw);
    }
    .CommentInput {
        font-size:calc(11px + 1vw);
    }
    .SaveButton {
        font-size:calc(11px + 1vw);
    }
    .ChangeStatus {
        font-size:calc(9px + 1vw);
    }
  }

.CommentList {
    list-style-type: none;
}

.Comment {
    margin-bottom: 30px;
}

.CommentInput {
    border: 1px solid #1e1e1e;
    width: 90%;
    margin-right: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 100px;
    margin-bottom: 0px;
}

.CommentInput:focus-within {
    border: 1px solid #1e1e1e;
}
  
.CommentInput:hover {
    border: 1px solid #1e1e1e;
}

.SaveButton {
    position: relative;
    border: 3px solid #0077c8;
    outline: none;
    transition-duration: 125ms;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-weight: 600;
    text-decoration: none;
    background-color: #0077c8;
    min-height: 46px;
    width: 16%;
    min-width: 74px;
    margin-bottom: 10px;
}
  
.SaveButton:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
    outline: none;
}
  
.SaveButton:focus {
    background-color: white;
    color: black;
    border: 3px solid black;
    outline: none;
}

.SaveButton:focus::after {
    position: absolute;
    content: "";
    display: block;
    right: 2px;
    top: 2px;
    bottom: 2px;
    width: 4px;
    /* opacity: 1; */
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0px 2px 2px 0px;
  }
  
  .SaveButton:focus::before {
    position: absolute;
    content: "";
    display: block;
    left: 2px;
    top: 2px;
    bottom: 2px;
    width: 4px;
    /* opacity: 1; */
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 2px 0px 0px 2px;
  }
  
  .SaveButton:hover::after {
    position: absolute;
    content: "";
    display: block;
    right: 2px;
    top: 2px;
    bottom: 2px;
    width: 4px;
    /* opacity: 1; */
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0px 2px 2px 0px;
  }
  
  .SaveButton:hover::before {
    position: absolute;
    content: "";
    display: block;
    left: 2px;
    top: 2px;
    bottom: 2px;
    width: 4px;
    /* opacity: 1; */
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 2px 0px 0px 2px;
  }
  
.ChangeStatus {
    position: relative;
    border: 3px solid #0077c8;
    outline: none;
    transition-duration: 125ms;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-weight: 600;
    text-decoration: none;
    background-color: #0077c8;
    height: 42px;
    width: 32%;
}

.ChangeStatus:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
    outline: none;
}
  
.ChangeStatus:focus {
    background-color: white;
    color: black;
    border: 3px solid black;
    outline: none;
}

.ChangeStatus:focus::after {
    position: absolute;
    content: "";
    display: block;
    right: 2px;
    top: 2px;
    bottom: 2px;
    width: 4px;
    /* opacity: 1; */
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0px 2px 2px 0px;
  }
  
  .ChangeStatus:focus::before {
    position: absolute;
    content: "";
    display: block;
    left: 2px;
    top: 2px;
    bottom: 2px;
    width: 4px;
    /* opacity: 1; */
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 2px 0px 0px 2px;
  }
  
  .ChangeStatus:hover::after {
    position: absolute;
    content: "";
    display: block;
    right: 2px;
    top: 2px;
    bottom: 2px;
    width: 4px;
    /* opacity: 1; */
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0px 2px 2px 0px;
  }
  
  .ChangeStatus:hover::before {
    position: absolute;
    content: "";
    display: block;
    left: 2px;
    top: 2px;
    bottom: 2px;
    width: 4px;
    /* opacity: 1; */
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 2px 0px 0px 2px;
  }