.RequestLink {
    position: relative;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #0077c8;
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 12px 20px;
    border: 3px solid #0077c8;
    outline: none;
    transition-duration: 125ms;
}
  
.RequestLink:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
    outline: none;
}
  
.RequestLink:focus {
    background-color: white;
    color: black;
    border: 3px solid black;
    outline: none;
}  

@media screen and (min-width: 961px) {
  .RequestLink {
      font-size:calc(10px + .6vw);
  }
}
  
@media screen and (max-width: 960px) {
  .RequestLink {
    font-size:calc(11px + 1vw);
  }
}

.ButtonContainer{
  text-align: center;
  
}

::before, ::after {
  box-sizing: border-box;
}

.RequestLink:focus::after {
  position: absolute;
  content: "";
  display: block;
  right: 2px;
  top: 2px;
  bottom: 2px;
  width: 4px;
  /* opacity: 1; */
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 0px 2px 2px 0px;
}

.RequestLink:focus::before {
  position: absolute;
  content: "";
  display: block;
  left: 2px;
  top: 2px;
  bottom: 2px;
  width: 4px;
  /* opacity: 1; */
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 2px 0px 0px 2px;
}

.RequestLink:hover::after {
  position: absolute;
  content: "";
  display: block;
  right: 2px;
  top: 2px;
  bottom: 2px;
  width: 4px;
  /* opacity: 1; */
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 0px 2px 2px 0px;
}

.RequestLink:hover::before {
  position: absolute;
  content: "";
  display: block;
  left: 2px;
  top: 2px;
  bottom: 2px;
  width: 4px;
  /* opacity: 1; */
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 2px 0px 0px 2px;
}