
  

table {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    border-bottom: 2px solid #1e1e1e;
    width: 100%;
    color: #1e1e1e;
    font-weight: normal;
    color: #1e1e1e;
    text-align: left;
}

th {
    border-bottom: 2px solid #1e1e1e;
    font-weight: bold;
    text-align: left;
}

td {
    padding: 5px 5px 5px 0px;
}

.buttonContainer {
    text-align: center;
    margin: auto;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 961px) {
    table {
      font-size:calc(10px + .6vw);
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 960px) {
    table {
        font-size:calc(8px + 1.2vw);
    }
  }