.OneLineInput {
    font-size: 18px;
    height: 28px;
    width: 320px;
    border: 3px solid black;
    border-radius: 6px;
    padding: 6px 6px 6px 6px;
    margin: auto;
  }
  .OneLineInput:focus-within {
    border: 3px solid black;
  }
  
  .OneLineInput:hover {
    border: 3px solid black;
  }
  
  .OneLineInput-invalid {
    font-size: 18px;
    height: 28px;
    width: 320px;
    border-radius: 6px;
    padding: 6px 6px 6px 6px;
    border: 3px solid #d93251;
  }
  
  .OneLineInput-invalid:focus-within {
    border: 3px solid #d93251;
  }
  
  .OneLineInput-invalid:hover {
    border: 3px solid #d93251;
  }
  
  .MultiLineInput {
    font-size: 18px;
    height: 64px;
    width: 326px;
    padding: 6px 0px 6px 6px;
    border: 3px solid black;
    border-radius: 6px;
  }
  
  .MultiLineInput:focus-within {
    border: 3px solid black;
  }
  
  .MultiLineInput:hover {
    border: 3px solid black;
  }
  
  .MultiLineInput-invalid {
    font-size: 18px;
    height: 64px;
    width: 326px;
    border-radius: 6px;
    padding: 6px 0px 6px 6px;
    border: 3px solid #d93251;
  }
  
  .MultiLineInput-invalid:focus-within {
    border: 3px solid #d93251;
  }
  
  .MultiLineInput-invalid:hover {
    border: 3px solid #d93251;
  }
  
  .Select {
    font-size: 18px;
    height: 64px;
    width: 320px;
    max-width: 700px;
    border: 3px solid black;
    border-radius: 6px;
    padding: 10px 20px;
    color:green;
    background-color: hotpink;
  
  }
  
  .Select:focus-within {
    border: 3px solid #d93251;
  }
  
  .Select:hover {
    border: 3px solid #d93251;
  }
  
  .FormSubmitButton {
    border-radius: 2px;
    height: 64px;
    width: 338px;
    background-color: #0077c8;
    color: white;
    font-size: 22px;
    text-decoration: none;
    font-weight: 600;
    border: 6px solid #0077c8;
    transition-duration: 125ms;
    box-shadow: none;
  }
  
  .FormSubmitButton:focus {
    background-color: white;
    color: black;
    border: 3px solid black;
    outline: none;
  }
  
  .FormSubmitButton:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
    outline: none;
  }

  form {
    margin: auto;
  }